body {
    margin: 0;
    padding: 0;
    background-color: #1A191F;
    color: white;
    font-family: "Calibri";
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 40px;
}

.logo img {
    width: 40px;
}

.boldTitle {
    font-family: "Arial Black";
    letter-spacing: 1px;
}

.bold {
    font-weight: bold;
}

.orange{
    color: #FECD7E;
}
.white {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    width: 100vw;
    gap: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(106, 87, 69, 0.4);
    border-bottom: solid 3px rgba(116, 116, 116, 0.4);
}

a {
    color: #FECD7E;
    text-decoration: none;
    font-weight: bold;
}

button {
    background-color: #FECD7E;
    padding: 10px;
    font-family: "Arial Black";
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
button:hover {
    background-color: #c49141;
}

.warning {
    color: #e93e00;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.common {
    color: rgb(72, 255, 124);
    text-shadow: 0 0 8px rgb(72, 255, 124);
}
.rare {
    color: rgb(91, 146, 255);
    text-shadow: 0 0 8px rgb(39, 61, 190);
}
.epic {
    color: rgb(198, 119, 255);
    text-shadow: 0 0 8px rgb(117, 35, 175);
}
.legendary {
    color: rgb(255, 138, 49);
    text-shadow: 0 0 8px rgb(252, 105, 42);
}