{% extends "app/base.html" %}
{% load static %}

{%block additional %}
    <link rel="stylesheet" href="{% static 'styles/chest.css' %}">
{% endblock %}

{% block webTitle %}SCIdrop - home page{% endblock %}


{% block content %}
<div id="chestList">
    {% for chest in chests %}
    <a class="chestBox" href="chest/{{ chest.id }}">
        <h2>{{ chest.name }}</h2>
        {% if chest.cover %}
            <img src="{{ chest.cover.url }}">
        {% else %}
            <img src="{% static 'icons/chest.svg' %}">
        {% endif %}

        <p class="rarity {{ chest.rarity }}">{{ chest.rarity }}</p>
        <p class="price">{{ chest.price }} ZŁ</p> 
    </a>
    {% empty %}
        <h1>Currently, there are no chests to buy.</h1>
    {% endfor %}
</div>
{% endblock %}