{% extends "app/base.html" %}
{% load static %}

{%block additional %}
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
{% endblock %}

{% block webTitle %}Log into SCIdrop{% endblock %}


{% block content %}
<div class="centeredBox">
    {% if user.is_authenticated %}
    <div class="warning">
        <img src="{% static 'icons/warning.svg' %}">
        <h3>You are logged now as <span class="bold">{{ user.username }}</span></h3>
    </div>
    {% endif %}

    <h1 class="boldTitle orange">LOGIN</h1>
    <form class="login" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="rememberMe">
            <input type="checkbox" name="rememberMe" checked>
            <label>Remember me</label><br>
        </div>
        <button type="submit">Log in</button>
        <p>Don't have an account?<br>
        <a href="/register">Register here</a></p>
    </form>
</div>
{% endblock %}