{% extends "app/base.html" %}
{% load static %}

{%block additional %}
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
{% endblock %}

{% block webTitle %}Sign up for SCIdrop{% endblock %}


{% block content %}
<div class="centeredBox register">
    {% if user.is_authenticated %}
    <div class="warning">
        <img src="{% static 'icons/warning.svg' %}">
        <h3>You are logged now as <span class="bold">{{ user.username }}</span></h3>
    </div>
    {% endif %}

    <h1 class="boldTitle orange">SIGN UP</h1>
    <form method="post" class="login">
        {% csrf_token %}
        <p>If you have already an account, you can <a href="{% url 'login' %}">log in here</a>.</p>
        {{ form.as_p }}
        <br>
        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}