body {
    margin: 0;
    padding: 0;
    background-color: #1A191F;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "Calibri";
    scroll-behavior: smooth;
    overflow: hidden;
    scrollbar-color: rgb(105, 71, 175) rgb(57, 18, 67);
}

main {
    height: calc(100vh - 78px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 40px;
}

.logo img {
    width: 40px;
}

.boldTitle {
    font-family: "Arial Black";
    letter-spacing: 1px;
}

.bold {
    font-weight: bold;
}

.orange{
    color: #FECD7E;
}

.white {
    color: white;
}

.scrollY {
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 75px;
    gap: 30px;
    backdrop-filter: blur(5px);
    background-color: rgba(106, 87, 69, 0.4);
    border-bottom: solid 3px rgba(116, 116, 116, 0.4);
}

nav p {
    font-weight: bold;
    font-size: 1.2em;
    border-left: solid 2px white;
    padding-left: 15px;
}

a {
    color: #FECD7E;
    text-decoration: none;
    font-weight: bold;
}

button {
    background-color: #FECD7E;
    padding: 10px;
    font-family: "Arial Black";
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px #e4a33c;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #e4a33c;
    transform: scale(1.02) translateY(-3px);
}

button:disabled {
    background-color: #9d8764;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #d07373;
}

nav button {
    margin: 0;
}

nav button:hover {
    background-color: #e4a33c;
    transform: none;
}

.warning {
    color: #e93e00;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.error {
    color: red;
    font-size: 1.5em;
}

.common {
    color: rgb(72, 255, 124);
    text-shadow: 0 0 8px rgb(72, 255, 124);
}
.rare {
    color: rgb(91, 146, 255);
    text-shadow: 0 0 8px rgb(39, 61, 190);
}
.epic {
    color: rgb(198, 119, 255);
    text-shadow: 0 0 8px rgb(117, 35, 175);
}
.legendary {
    color: rgb(255, 138, 49);
    text-shadow: 0 0 8px rgb(252, 105, 42);
}


/* transition between pages */
.fade-enter-active, .fade-leave-active {
    transition: 0.5s;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
    transform: translateY(10vh);
}