nav  {
    background-color: rgba(69, 56, 44, 0.8);
}

#chestList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8vw;
}

#chestList h1 {
    color: #FECD7E;
    margin-left: auto;
    margin-right: auto;
}

.chestBox {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background-color: rgba(254, 205, 126, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.chestBox img {
    width: 250px;
    height: 250px;
}

.chestBox h2 {
    color: #ffcc00;
    font-family: "Arial Black";
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #ffcc00;
    word-spacing: 10px;
    text-align: center;
    font-size: 1.6em;
}

.chestBox .price {
    font-size: 1.3em;
    margin: 10px;
    color: white;
    background-color: rgb(141, 87, 17);
    padding: 10px;
    border-radius: 15px;
    font-family: "Arial Black";
    font-weight: bold;
    text-align: center;
    width: 200px
}

.chestBox .rarity {
    font-size: 1.7em;
    font-family: "Arial Black";
    text-transform: uppercase;
    margin: 10px;
}

.chestBox:hover {
    background-color: rgba(255, 179, 93, 0.6);
    transform: rotate(2deg) scale(1.02);
}