#skinList {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    display: flex;
    overflow: hidden;
    border: solid 3px white;
    box-shadow: 0 0 15px white;
    border-radius: 20px;
    padding: 10px;
}

.skinBox {
    min-width: 100px;
    height: 320px;
    background-color: rgba(157, 104, 30, 0.6);
    backdrop-filter: blur(5px);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skinBox img {
    height: 150px;
    margin-bottom: 10px;
}

.skinBox .rarity {
    font-size: 1em;
    margin: 0;
}

#spin {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 2em;
    border: 5px solid white;
    box-shadow: 0 0 10px white;
}